.basic-profile-container {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: max-content; */
    height: 100%;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.profile-picture-page {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.profile-header p {
    margin: 5px 0;
    color: #666;
}

.profile-header button {
    background-color: #f79c35;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.profile-header button:hover {
    background-color: #fcc35a;
    color: black;
}

.more-user-info {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    font-size: 22px;
}

.more-user-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.more-user-info p {
    margin: 5px 0;
    color: #666;
}

.friends-list {
    margin-top: 20px;
}

.friends-list h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.friends-list ul {
    list-style-type: none;
    padding: 0;
}

.friends-list li {
    margin: 5px 0;
    color: #666;
}