.follower-following{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    /* background-color: #2f4f7f; */
    max-height: 680px;
    overflow-y: auto;
}

.profile-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    background-color: #2f4f7f;
    max-height: 680px;
    /* overflow-y: auto; */
    /* margin: 10px; */
}